
@model Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create new category</h1>

    <form asp-action="Create">
        <div class="mb-3">
             <label class="col-sm-2 col-sm-label" for="input">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="input" asp-for="Name" />
                </div>
        </div>

        <div class="mb-3">
            <label class="col-sm-2 col-sm-label" for="input">Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" id="input" asp-for="Description" />
            </div>
        </div>
    
        <div>
            <input class="btn btn-primary" type="submit" value="Create">
            <a class="btn btn-outline-dark" asp-action="Index">Return to table</a>
        </div>

    </form>





